#Visual Studio files
*.sln
*.vcproj
*.suo
*.ncb
*.user
 
#QtCreator project files
*.pro.user
=======
*.pro.user*
*~
 
# Failed patch
*.orig
*.rej

#Qt Translator Files
*.qm

# Other
Makefile
MinetestMapperGui
*.o
moc_*.cpp
qrc_*.cpp
ui_*.h

