#Visual Studio files
*.sln
*.vcproj
*.suo
*.ncb
*.user
 
#QtCreator project files
*.pro.user
=======
*.pro.user*
*~
 
# Failed patch
*.orig
*.rej

#Qt Translator Files
*.qm

# Other
Makefile
MinetestMapperGui
*.o
moc_mainwindow.cpp
qrc_minetestmappergui.cpp
ui_mainwindow.h

