[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=MinetestMapperGUI
Comment=Graphical userinterface for MinetestMapper
TryExec=MinetestMapperGUI
Exec=MinetestMapperGUI
Icon=/usr/local/share/icons/hicolor/scalable/apps/MinetestMapperGUI.svg
Categories=Utility;Application;
